name = "mirai-dub-web"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[assets]
directory = "./dist"
binding = "ASSETS"
html_handling = "auto-trailing-slash"
not_found_handling = "single-page-application"
run_worker_first = true
